.cart-widget {
	font-size: 36px;
	position: relative;
	background-color: #eee;
	border-radius: 5px;
	padding: 2px 5px;
	margin-right: 5px;
}

.cart-number {
	color: white;
	position: absolute;
	left: 30px;
	bottom: -8px;
	font-size: 0.5em;
	background-color: rgba(0, 194, 55, 0.95);
	padding: 3px 8px;
	border-radius: 100%;
}
