/* Reset general */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  width: 100vw;
}

#root {
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 15px;
  width: 100%;
  min-width: 420px;
  margin: auto;
}
